::selection {
background: rgba(255, 255, 255, 0);
}
@font-face {
    font-family: "Squada One";
    font-style: normal;
    font-weight: 400;
src: local("Squada One"), local("SquadaOne-Regular"), url("../fonts/SquadaOne.woff") format("woff");
}
@-webkit-keyframes animate-sitesT {
    0% { -webkit-transform: translateY(-400%); }
    100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes animate-sitesT {
    0% { -moz-transform: translateY(-400%); }
    100% { -moz-transform: translateY(0); }
}
#link1 {
    background: #4583EE;
	-webkit-animation: animate-sitesT .7s linear;
	-moz-animation: animate-sitesT .7s linear;
}
#link2 {
    background: #CC181E;
	-webkit-animation: animate-sitesT .6s linear;
	-moz-animation: animate-sitesT .6s linear;
}
#link3 {
    background: #A8C3E1;
	-webkit-animation: animate-sitesT .5s linear;
	-moz-animation: animate-sitesT .5s linear;
}
#link4 {
    background: #777777;
	-webkit-animation: animate-sitesT .4s linear;
	-moz-animation: animate-sitesT .4s linear;
}
#link5 {
    background: #005252;
	-webkit-animation: animate-sitesT .3s linear;
	-moz-animation: animate-sitesT .3s linear;
}
#link6 {
    background: #46AAB0;
	-webkit-animation: animate-sitesT .7s linear;
	-moz-animation: animate-sitesT .7s linear;
}
#link7 {
    background: #D7D5F0;
	-webkit-animation: animate-sitesT .6s linear;
	-moz-animation: animate-sitesT .6s linear;
}
#link8 {
    background: #FFA628;
	-webkit-animation: animate-sitesT .5s linear;
	-moz-animation: animate-sitesT .5s linear;
}
#link9 {
    background: #43609C;
	-webkit-animation: animate-sitesT .4s linear;
	-moz-animation: animate-sitesT .4s linear;
}
#link10 {
    background: #AA0022;
	-webkit-animation: animate-sitesT .3s linear;
	-moz-animation: animate-sitesT .3s linear;
}
#link11 {
    background: #729ECD;
}
#link12 {
    background: #647D8B;
}
#link13 {
    background: #647D8B;
}
@-webkit-keyframes animate-opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes animate-opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes animate-swaps {
    0% { width: 0px; height: 0px; opacity: 0; }
    50% { width: 0px; height: 0px; opacity: 0; margin: 0px 20px 4px; }
    51% { opacity: 1; }
    100% { width: 14px; height: 14px; opacity: 1; margin: 0px 14px; }
}
@-moz-keyframes animate-swaps {
    0% { width: 0px; height: 0px; opacity: 0; }
    50% { width: 0px; height: 0px; opacity: 0; margin: 0px 20px 4px; }
    51% { opacity: 1; }
    100% { width: 14px; height: 14px; opacity: 1; margin: 0px 14px; }
}
*:focus {
    outline: none!important;
    -moz-outline: none!important;
    -moz-user-focus: none!important;
}
body, html {
	background-color: #FAFAFA;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
button, input {
    -moz-transition: all .3s ease;
    -moz-appearence: none;
    -webkit-transition: all .3s ease;
    -webkit-appearance: none;
}
#parent {
    min-height: 100%;
    position: relative;
    text-align: center;
    z-index: 10;
    overflow: hidden;
}
#panel {
    margin: auto;
    margin-top: 80px;
    z-index: -4;
    position: absolute;
    width: 100%;
}
#panel, #sitescontainer, #search, button, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#wrapper {
    margin: 0 auto;
}
#sitescontainer {
  height: auto;
  padding: 25px 10px 0px;
  text-align: center;
	display: inline-block;
}
#sitesjar {
	
}
#page {
    position: relative;
    float: left;
}
.link {
    color: white;
    display: inline-block;
    font-family: 'Squada One';
    font-size: 300%;
    height: 127px;
    line-height: 125px;
    margin: 5px 7px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 127px;
    z-index: 1;
    -webkit-transition: all .4s cubic-bezier(0.75, -0.5, 0.25, 1.5) .1s;
    -moz-transition: all .4s cubic-bezier(0.75, -0.5, 0.25, 1.5) .1s;
}
.link:hover, .link:active, .link:focus {
    background: none !important;
    color: black;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    box-shadow: none;
    z-index: 2;
    width: 125px;
    margin-left: 40px;
    margin-right: 40px;
}
#search {
    height: 46px;
    width: 692px;
    padding: 0px 0px 0px 82px;
    margin: 5px 0px;
}
#search form {
    position: relative;
    -webkit-animation: animate-opacity .4s ease-in;
    -moz-animation: animate-opacity .4s ease-in;
}
#search input[type="text"] {
    background: #A8C3E1;
    border: 1px solid #A8C3E1;
    width: 100%;
    height: 33px;
    padding: 3px 86px 3px 6px;
    color: white;
    font-size: 0.95em;
}
input[type="text"]::-webkit-input-placeholder {
	color: white;
}
input[type="text"]:: selection {
	color: black;
	background: #FAFAFA;
}
#search button {
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    top: 4px;
    right: 4px;
    background: #FFA628;
    border: 1px solid #FFA628;
    width: 70px;
    height: 25px;
    color: white;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 4px;
}
#search button:hover, #search button:focus {
    padding-left: 36px!important;
}
#select {
    position: absolute;
    left: -82px;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 10px;
    -webkit-padding-start: 10px;
    -webkit-user-select: none;
    -moz-appearance: window;
    -moz-border-radius: 2px;
    -moz-padding-end: 10px;
    -moz-padding-start: 10px;
    -moz-user-select: none;
    -moz-transform: translate(-4px,-2px);
    background: rgba(22,22,22,0);
    border: 1px solid #CC181E;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 6px;
    text-overflow: ellipsis;
    display: inline-block;
}
#selectbg {
	position: absolute;
    -moz-padding-end: 10px;
    -webkit-padding-end: 10px;
    -moz-padding-start: 10px;
    -webkit-padding-start: 10px;
    background: #CC181E;
    height: 18px;
    width: 55px;
    left: -82px;
    margin: 0;
    border: 1px solid #CC181E;
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 6px;
}
#menulink {
    width: auto;
    height: 0px;
    margin-bottom: 55px;
    display: inline-block;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 500;
    z-index: 5;
    color: white;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}
#menulink:hover, #menulink:active {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    margin-bottom: 65px;
    margin-top: -10px;
}
#slide {
    height: 450px;
    width: 110px;
    background: #43609C;
	border: 1px solid #43609C;
    position: absolute;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    right: 7%;
    top: -1000px;
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
#slide:after { /* This is for the triangular bottom of the menu */
    width: 76px;
    height: 76px;
    border: 1px solid #43609C;
    background: #43609C;
    content: '';
    bottom: -40px;
    right: 16px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    z-index: -1;
}
#nextbutton, #prevbutton {
    height: 100%;
    width: 5%;
    background: rgba(255,0,0,0);
    position: absolute;
    top: 0px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    border-radius: 10px;
    display: inline-block;
}
#nextbutton {
    right: 0%;
}
#prevbutton {
    left: 0%;
}
#nextbutton:hover {
	cursor: e-resize;
}
#prevbutton:hover {
	cursor: w-resize;
}
#swapCont {
	position: relative;
	top: 50px;
	height: 18px;
	z-index: -2;
}
#swap {
    height: 12px;
    width: 12px;
    border: 2px solid #4583EE;
    background: #4583EE;
    display: inline-block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    margin: 3px 14px;
	-webkit-animation: animate-swaps .8s ease-in;
    -moz-animation: animate-swaps .8s ease-in;
}
#swap:hover {
    height: 18px !important;
    width: 18px !important;
    margin: 0px 11px !important;
    cursor: pointer;
}
